.platform {
  position: absolute;
  height: 20px;
  background-color: brown;
  background-image: url("../assets/images/wall.png");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

.temple {
  min-height: 64px;
  min-width: 64px;
  position: absolute;
  top: -64px;
  left: 80px;
}

.end-view {
  background-color: bisque;
  width: 900px;
  height: 500px;
  display: none;
  justify-content: center;
  align-items: center;
  background-image: none;
}
