.game-view {
  background-color: aquamarine;
  border-radius: 15px;
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(0, 0, 0, 0.15), -9px -9px 15px rgba(0, 0, 0, 0.1),
    3px 3px 5px rgba(0, 0, 0, 0.2), 6px 6px 10px rgba(0, 0, 0, 0.15),
    9px 9px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  background-image: url("../images/mountain-bg-2.jpeg");
  background-position: center;
  background-size: cover;
}

.victory-view {
  background-color: blue;
  background-image: url("../images/victory-view-bg.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: column;
}

.victory-view > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.victory-view > h1 {
  color: white;
}
