/* Player.module.css */

.player-char {
  position: absolute;
}

.player-char-img {
  position: absolute;
  top: 2px;
  left: -25px;
  min-width: 64px;
  min-height: 64px;
}

.weapon-element {
  position: absolute;
}

.weapon-img {
  position: absolute;
  top: -4px;
  left: -2px;
  min-width: 32px;
  min-height: 32px;
  animation: rotate 1.5s linear infinite;
}

/* Add animation to rotate weapons */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
